@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap");

:root {
  --primary-color: #057a55;
  --dark-gray: grey;
  --off-white: #f3f4f6;
}
.container {
  padding: 0rem 1rem;
}
.navigation {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  border-bottom-left-radius: 1rem;
}

.link-active {
  font-weight: bold;
}
.navigation .nav-pills {
  text-align: right;
  padding: 1rem;
}
.navigation .link {
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#area-input {
  display: flex;
  flex-direction: column;
}

button:active {
  background-color: rgb(61, 61, 61);
}
button {
  color: var(--off-white);
  margin-top: 10px;
  width: 10%;
  height: 3rem;
  outline: 0;
  border-radius: 0px;
  background: none;
  box-shadow: none;
  border: none;
  font-family: inherit;
  border: 2px solid rgb(61, 61, 61);
  background-color: var(--dark-gray);
}
.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .link {
  color: white;
}
.footer ul {
  padding-inline-start: 0%;
}
.no-bullet {
  list-style: none;
}

.link {
  text-decoration: none;
}
.list-inline {
  display: inline;
  padding: 0rem 1rem;
}
.nav-brand {
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
}
